<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="nav :: nav"></div>
<h2> Credentials form </h2>
<form id="credentialForm" th:action="@{/saveCredential}" th:object="${credential}" method="post" onsubmit="return encryptPasswordBeforeSubmit()">
    <input type="hidden" th:name="user.id" th:value="${user_id}"/>
    <div class="form-group">
        <label for="credentialType">Credential Type</label>
        <select id="credentialType" class="form-control" th:field="*{type}" required>
            <option value="">-- Select a type --</option>
            <option value="LOGIN">Login</option>
            <option value="CREDIT_CARD">Credit Card</option>
            <option value="BANK_ACCOUNT">Bank Account</option>
        </select>
    </div>
    <div class="form-group">
        <label for="expirationDate">Expiration Date</label>
        <input type="date" id="expirationDate" class="form-control" th:field="*{expirationDate}" required>
    </div>
    <div class="form-group">
        <label for="share">Share</label>
        <input type="checkbox" id="share" class="form-control" th:field="*{share}">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" th:value="${password}" name="password" id="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="associatedAccount">Associated Account</label>
        <input type="text" id="associatedAccount" class="form-control" th:field="*{associatedAccount}">
    </div>
    <h2 id="entropy"></h2>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
<script src="/scripts/jquery.min.js"></script>
<script>

const passwordInput = document.getElementById("password");

// add an event listener to the password input element
passwordInput.addEventListener("input", function() {
  calculateEntropy(passwordInput.value);
});

function calculateEntropy(password) {
  const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
  const passwordLength = password.length;
  let entropy = 0;

  for (let i = 0; i < passwordLength; i++) {
    const char = password.charAt(i);
    const charsetLength = charset.length;
    const charIndex = charset.indexOf(char);
    const charsetFraction = 1 / charsetLength;
    const charEntropy = -Math.log2(charsetFraction);

    if (charIndex !== -1) {
      entropy += charEntropy;
    } else {
      entropy += Math.log2(charsetLength);
    }
  }

    document.getElementById("entropy").innerHTML = 'Entrophy is ' + entropy.toFixed(2);
}

function wasAnAccountBreached(email){
$.ajax({
    type: "GET",
    url: "/check-email",
    data: { email: email },
    success: function(result) {
        if(result) {
            alert("This email has been compromised in a data breach.");
        } else {
            alert("This email has not been compromised in a data breach.");
        }
    },
    error: function(xhr, status, error) {
        console.log("Error: " + error);
    }
});
}
function wasAnPasswordBreached(password){
$.ajax({
    type: "GET",
    url: "/check-password",
    data: { password: password },
    success: function(result) {
        if(result) {
            alert("This password has been compromised in a data breach.");
        } else {
            alert("This password has not been compromised in a data breach.");
        }
    },
    error: function(xhr, status, error) {
        console.log("Error: " + error);
    }
});
}
    async function encryptPassword(password, key) {
        // Convert the password and key to ArrayBuffer
        const passwordBuffer = new TextEncoder().encode(password);
        const keyBuffer = await crypto.subtle.importKey(
            'raw',
            new TextEncoder().encode(key),
            { name: 'AES-CBC', length: 256 },
            false,
            ['encrypt']
        );

        // Generate a random initialization vector (IV)
        const iv = crypto.getRandomValues(new Uint8Array(16));

        // Encrypt the password using AES-CBC algorithm
        const encryptedBuffer = await crypto.subtle.encrypt(
            { name: 'AES-CBC', iv },
            keyBuffer,
            passwordBuffer
        );

        // Combine the IV and encrypted data into a single array
        const encryptedData = new Uint8Array(iv.length + encryptedBuffer.byteLength);
        encryptedData.set(iv, 0);
        encryptedData.set(new Uint8Array(encryptedBuffer), iv.length);

        // Convert the encrypted data to a hex string
        const encryptedHex = Array.prototype.map
            .call(encryptedData, (byte) => byte.toString(16).padStart(2, '0'))
            .join('');

        return encryptedHex;
    }

    function encryptPasswordBeforeSubmit() {
        var encryptionKey = prompt("Enter the encryption key:");
        var passwordField = document.getElementById("password");

        encryptPassword(passwordField.value, encryptionKey)
            .then((encryptedPassword) => {
                // Set the encrypted password value to the password field
                passwordField.value = encryptedPassword;
                 var form = document.getElementById("credentialForm"); // Replace "yourFormId" with the actual ID of your form
            form.submit()
                            passwordField.value = '***********';
                return true; // Allow form submission
            })
            .catch((error) => {
                console.error('Encryption error:', error);
                return false; // Prevent form submission
});
return false; // Prevent form submission until encryption is complete
}


function sendGetRequest(id) {
    var userInput = prompt("Enter Master key:");

    if (userInput !== null && userInput !== "") {
      var url = "/get-decrypted-password?secret=" + encodeURIComponent(userInput) + "&id=";
      fetch(url)
        .then(response => {
          if (response.ok) {
            // Handle successful response
            alert(response.text());
            return response.text(); // or response.json() if expecting JSON response
          } else {
            // Handle error response
            throw new Error("Request failed with status: " + response.status);
          }
        })
        .then(data => {
          // Handle response data
          console.log("Response:", data);
        })
        .catch(error => {
          // Handle error
          console.error("Error:", error);
        });
    } else {
      alert("Please enter a value.");
    }
  }
</script>


</script>
</body>
</html>
