<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="nav :: nav"></div>
<div class="row" style="padding-left: 2%; padding-right: 2%;">
    <table style="padding-left: 20px" class="table table-striped">
        <thead>
        <tr>
        <th>Type</th>
        <th>Experation Date</th>
        <th>Shareble</th>
        <th>Password</th>
        <th>Assosiated Account</th>
        </tr>
        </thead>
        <tbody>
        <div class="col-md-6" th:each="credential : ${credentialList}">
            <tr>
            <td> <h5 class="card-title" th:text="${credential.type}"></h5></td>
            <td><span th:text="${credential.expirationDate}"></span></td>

            <td><span th:text="${credential.share} ? 'Yes' : 'No'"></span></td>

            <td> <span> ************* </span> <button class="btn"  th:onclick="sendGetRequest([[${credential.id}]])">Check password</button></td>

            <td><span th:text="${credential.associatedAccount}"></span> <button class="btn" th:onclick="wasAnAccountBreached([[${credential.associatedAccount}]])">Check for breaches</button></td>
            </tr>
    </div>
        </tbody>
    </table>
</div>

</div>
<script src="/scripts/jquery.min.js"></script>
<script>
   function sendGetRequest(id) {
var userInput = prompt("Enter Master key:");
if (userInput !== null && userInput !== "") {
var url = "/get-decrypted-password?secret=" + encodeURIComponent(userInput) + "&id=" + id;
$.ajax({
url: url,
type: 'GET',
success: function(data, status, xhr) {
// Handle successful response
alert(JSON.stringify(data)); // if the data is JSON
console.log("Response:", data);
},
error: function(xhr, status, error) {
// Handle error response
console.error("Error:", error);
}
});
} else {
alert("Please enter a value.");
}
}
</script>
</body>
</html>
